<launch>
  <!-- Start the simulation with the specified world -->
  <include file="$(find tiago_iaslab_simulation)/launch/start_simulation.launch">
    <arg name="world_name" value="iaslab_assignment2" />
  </include>

  <!-- Delay next launch to allow Gazebo to load properly -->
  <param name="/use_sim_time" value="true"/>
  <group ns="apriltag">
    <!-- AprilTag detection -->
    <include file="$(find tiago_iaslab_simulation)/launch/apriltag2.launch"/>
  </group>

  <!-- Navigation stack -->
  <include file="$(find tiago_iaslab_simulation)/launch/navigation.launch"/>

  <!-- Run the get_straightline_node -->
  <node pkg="tiago_iaslab_simulation" type="get_straightline_node" name="get_straightline_node" output="screen"/>
</launch>
