<launch>
  <!-- Start move_head_down_node first -->
  <node name="move_head_down_node"
        pkg="tiago_search_detect"
        type="move_head_down_node"
        output="screen">
  </node>

  <!-- Wait a moment for the service to be ready -->
  <param name="wait_for_service" type="bool" value="true"/>

  <!-- Start waypoints_navigation_node -->
  <node name="waypoints_navigation_node"
        pkg="tiago_search_detect"
        type="waypoints_navigation_node"
        output="screen">
    <param name="waypoints_file" value="$(find tiago_search_detect)/config/tiago_waypoints.yaml" />
  </node>
</launch>
